[tool.poetry]
name = "python-dlt"
version = "0.1.0rc14"
description = "DLT is an open-source python-native scalable data loading framework that does not require any devops efforts to run."
authors = ["ScaleVector <services@scalevector.ai>"]
maintainers = [ "Marcin Rudolf <marcin@scalevector.ai>", "Adrian Brudaru <adrian@scalevector.ai>",]
readme = "QUICKSTART.md"
license = "Apache-2.0"
homepage = "https://github.com/scale-vector"
repository = "https://github.com/scale-vector/dlt"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Topic :: Software Development :: Libraries",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",]
keywords = [ "etl" ]
include = [ "LICENSE.txt", "QUICKSTART.md", "examples/schemas/*.yml", "examples/schemas/data/*"]
packages = [
    { include = "dlt" },
    { include = "examples" },
]

[tool.poetry.dependencies]
python = "^3.8,<3.11"
requests = "^2.26.0"
pendulum = "^2.1.2"
simplejson = "^3.17.5"
jsonlines = "^2.0.0"
PyYAML = "^5.4.1"
json-logging = "1.4.1rc0"
prometheus-client = "^0.11.0"
semver = "^2.13.0"
sentry-sdk = "^1.4.3"
hexbytes = "^0.2.2"
cachetools = "^5.2.0"

psycopg2-binary = {version = "^2.9.1", optional = true}
# use this dependency as the current version of psycopg2cffi does not have sql module
# psycopg2cffi = {git = "https://github.com/chtd/psycopg2cffi.git", optional = true, markers="platform_python_implementation == 'PyPy'"}
psycopg2cffi = {version = "^2.9.0", optional = true, markers="platform_python_implementation == 'PyPy'"}

grpcio = {version = "1.43.0", optional = true}
google-cloud-bigquery = {version = "^2.26.0", optional = true}
google-cloud-bigquery-storage = {version = "^2.13.0", optional = true}
pyarrow = {version = "^8.0.0", optional = true}

GitPython = {version = "^3.1.26", optional = true}
dbt-core = {version = "1.0.6", optional = true}
dbt-redshift = {version = "1.0.1", optional = true}
dbt-bigquery = {version = "1.0.0", optional = true}
randomname = "^0.1.5"
tzdata = "^2022.1"
tomlkit = "^0.11.3"
asyncstdlib = "^3.10.5"


[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
mypy = "0.971"
flake8 = "^5.0.0"
bandit = "^1.7.0"
flake8-bugbear = "^22.0.0"
pytest-pythonpath = "^0.7.3"
pytest-order = "^1.0.0"
pytest-cases = "^3.6.9"
pytest-forked = "^1.3.0"
types-PyYAML = "^6.0.7"
types-cachetools = "^4.2.9"
types-protobuf = "^3.19.8"
types-simplejson = "^3.17.0"
types-requests = "^2.25.6"
types-python-dateutil = "^2.8.15"
flake8-tidy-imports = "^4.8.0"
flake8-encodings = "^0.5.0"
flake8-builtins = "^1.5.3"

[tool.poetry.extras]
dbt = ["dbt-core", "GitPython", "dbt-redshift", "dbt-bigquery"]
gcp = ["grpcio", "google-cloud-bigquery", "google-cloud-bigquery-storage", "pyarrow"]
# bigquery is alias on gcp extras
bigquery = ["grpcio", "google-cloud-bigquery", "google-cloud-bigquery-storage", "pyarrow"]

postgres = ["psycopg2-binary", "psycopg2cffi"]
redshift = ["psycopg2-binary", "psycopg2cffi"]

[tool.poetry.scripts]
dlt = "dlt.cli.dlt:main"

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"
