
# copy to .env and run with (set -a && . tests/.env && pytest tests)
# for tests that do not involve any secrets you may run (set -a && . tests/.example.env && pytest tests)

DEFAULT_DATASET=carbon_bot_3

PROJECT_ID=chat-analytics-317513
BQ_CRED_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
    paste key here
    -----END PRIVATE KEY-----
"
BQ_CRED_CLIENT_EMAIL=loader@chat-analytics-317513.iam.gserviceaccount.com

PG_DATABASE_NAME=chat_analytics_rasa
PG_USER=loader
PG_HOST=3.73.90.3
PG_PASSWORD=set-me-up