
# copy to .env and run with (set -a && . tests/.env && pytest tests)
# for tests that do not involve any secrets you may run (set -a && . tests/.example.env && pytest tests)

DEFAULT_DATASET=carbon_bot_3

CREDENTIALS__PROJECT_ID=chat-analytics-317513
CREDENTIALS__PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
    paste key here
    -----END PRIVATE KEY-----
"
CREDENTIALS__CLIENT_EMAIL=loader@chat-analytics-317513.iam.gserviceaccount.com
CREDENTIALS__CLIENT_ID=929384042504-3mtjaj1s7vuvf53j88mgdq4te7akkjm3.apps.googleusercontent.com
CREDENTIALS__CLIENT_SECRET=set-me-up
CREDENTIALS__REFRESH_TOKEN=set-me-up

DESTINATION__REDSHIFT__CREDENTIALS__DATABASE=chat_analytics_rasa
DESTINATION__REDSHIFT__CREDENTIALS__USERNAME=loader
DESTINATION__REDSHIFT__CREDENTIALS__HOST=3.73.90.3
DESTINATION__REDSHIFT__CREDENTIALS__PASSWORD=set-me-up

DESTINATION__POSTGRES__CREDENTIALS=postgresql://loader:loader@localhost:5432/dlt_data
DESTINATION__DUCKDB__CREDENTIALS=duckdb:///_storage/test_quack.duckdb
RUNTIME__SENTRY_DSN=https://6f6f7b6f8e0f458a89be4187603b55fe@o1061158.ingest.sentry.io/4504819859914752
