<clickhouse replace="true">
    <logger>
        <level>debug</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>
    <display_name>test_cluster node 4</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8124</http_port>
    <tcp_port>9001</tcp_port>
    <user_directories>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
    <remote_servers>
        <cluster_1S_2R>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-01</host>
                    <port>9001</port>
                </replica>
                <replica>
                    <host>clickhouse-02</host>
                    <port>9001</port>
                </replica>
            </shard>
        </cluster_1S_2R>
        <cluster_2S_1R>
            <shard>
                <replica>
                    <host>clickhouse-01</host>
                    <port>9001</port>
                    <user>loader</user>
                    <password>loader</password>
                </replica>
            </shard>
            <shard>
                <replica>
                    <host>clickhouse-02</host>
                    <port>9001</port>
                    <user>loader</user>
                    <password>loader</password>
                </replica>
            </shard>
        </cluster_2S_1R>
        <cluster_2S_2R>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-01</host>
                    <port>9001</port>
                    <user>loader</user>
                    <password>loader</password>
                </replica>
                <replica>
                    <host>clickhouse-02</host>
                    <port>9001</port>
                    <user>loader</user>
                    <password>loader</password>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-03</host>
                    <port>9001</port>
                    <user>loader</user>
                    <password>loader</password>
                </replica>
                <replica>
                    <host>clickhouse-04</host>
                    <port>9001</port>
                    <user>loader</user>
                    <password>loader</password>
                </replica>
            </shard>
        </cluster_2S_2R>      
    </remote_servers>
    <zookeeper>
        <node>
            <host>clickhouse-keeper-01</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-02</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-03</host>
            <port>9181</port>
        </node>
    </zookeeper>
    <macros>
        <shard>02</shard>
        <replica>02</replica>
    </macros>
</clickhouse>