/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Karla');

:root {
  --ifm-color-primary: #F3FF36;
  --ifm-link-color: #FFFFFF;
  --ifm-color-primary-dark: #191937;
  --ifm-color-primary-darker: #191937;
  --ifm-color-primary-darkest: #F3FF36;
  --ifm-color-primary-light: #FFFFFF;
  --ifm-color-primary-lighter: #FFFFFF;
  --ifm-color-primary-lightest: #FFFFFF;
  --ifm-font-family-base: 'Karla';
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #4C4898;
  --ifm-heading-color: inherit;
  --ifm-font-color-base: #F3FF36;
  --ifm-gradient: #191937;
  --ifm-menu-color:#F3FF36;
  --ifm-toc-link-color:#191937;
  --ifm-menu-link-padding-horizontal: 0.35rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-link-color: #191937;
  --ifm-color-primary: #4C4898;
  --ifm-color-primary-dark: #F7F9FC;
  --ifm-color-primary-darker: #F7F9FC;
  --ifm-color-primary-darkest: #F7F9FC;
  --ifm-color-primary-light: #4C4898;
  --ifm-color-primary-lighter: #4C4898;
  --ifm-color-primary-lightest: #4C4898;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-font-color-base: #4C4898;
  --ifm-gradient: #F7F9FC;
  --ifm-menu-color:#4C4898;
  --ifm-menu-color-active:#4C4898;
  --ifm-menu-color:#4C4898;
  --ifm-toc-link-color:#4C4898;
}

body {
  font-family: 'Karla', sans-serif;
  background: var(--ifm-color-primary-dark);
}

h1 {
  font-family: "Space Mono", sans-serif;
}

.navbar {
  background: var(--ifm-color-primary-dark);
  font-family: 'Roboto Mono', monospace;
}

.theme-doc-sidebar-container {
  background: var(--ifm-gradient);
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.footer-link {
  color: var(--ifm-footer-link-color);
}

.footer__link-item:hover {
  --ifm-color-primary-lightest: #4C4898 !important;
}

.footer-link>svg {
  display: none;
}

.theme-last-updated {
  font-style: normal;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
  color: var(--ifm-link-color);
  text-decoration: none;
}

.colab-demo {
  background: var(--ifm-color-primary);
  border-radius: 8px;
  color: #fff;
  margin-right: 2px;
  margin-left: 10px;
  padding: 6px 10px 6px 17px;
  display: flex;
}
.colab-demo::before {
  content: '';
  width: 25px;
  height: 25px;
  display: flex;
  background: url("../../static/img/CO-White.svg") no-repeat;
  position: relative;
  left: -5px;
  top: 0px;
}

/* .container{
  padding: 0 !important;
} */
.colab-demo:hover {
  background: var(--ifm-color-primary-light);
  color: #fff;
}

.col--3 {
  background: var(--ifm-gradient);
  position: relative;
  top: 2rem;
  margin-top: -50px;
}

.blog-list-page .col--3 {
  margin-top: -65px;
}

.slack-navbar>svg {
  display: none;
}

.github-navbar>svg {
  display: none;
}


.github-navbar:hover, .slack-navbar:hover {
  opacity: 0.6;
}

.github-navbar, .slack-navbar, .slack-navbar:hover ,.github-navbar:hover{
  display: flex;
  color: transparent;
}

.github-navbar:before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  position: relative;
  left: 0px;
  top: 2px;
}

html[data-theme='dark'] .github-navbar:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.theme-edit-this-page > svg{display: none;}

.theme-edit-this-page{padding-left: 20px;}

.theme-edit-this-page::before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;

  position: relative;
  left: -5px;
  top: 2px;
}

html[data-theme='dark'] .theme-edit-this-page::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.theme-edit-this-page{
  display: flex;
}

.slack-navbar:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/slack-White.svg") no-repeat;
  position: relative;
  left: 8px;
  top: 2px;
  background-size: 20px;
}

html[data-theme='dark'] .slack-navbar::before {
  background: url("../../static/img/slack-Black.svg") no-repeat;
  background-size: 20px;
}
/* siderbar-icons */

.theme-doc-sidebar-menu.menu__list>li {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.theme-doc-sidebar-menu.menu__list>li>a {
  flex: 0.85;
  position: relative;
}

.theme-doc-sidebar-menu.menu__list>li>div {
  flex: 0.86;
  position: relative;
}

.colab-demo > svg{display: none;}

.theme-doc-sidebar-menu.menu__list>li>a::before , .theme-doc-sidebar-menu.menu__list>li>div>a::before {
  content: "";
  height: 32px;
  width: 32px;
  position:absolute;
  left:-37px;
  background-repeat: no-repeat;
}
.menu__link {
  padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(1)>a::before {
  background-image: url(../../static/img/Introduction-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(2)>a::before {
  background-image: url(../../static/img/Installation-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(3)>a::before {
  background-image: url(../../static/img/GettingStarted-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(4)>a::before {
  background-image: url(../../static/img/Howdltworks-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(5)>div>a::before {
  background-image: url(../../static/img/Pipelines-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(6)>div>a::before {
  background-image: url(../../static/img/Destinations-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(7)>div>a::before {
  background-image: url(../../static/img/Walkthrough-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(8)>div>a::before {
  background-image: url(../../static/img/GeneralUsage-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(9)>div>a::before {
  background-image: url(../../static/img/Customization-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(10)>div>a::before {
  background-image: url(../../static/img/RunningInProduction-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(11)>div>a::before {
  background-image: url(../../static/img/UsingLoadedData-Inactive.svg);
}

.theme-doc-sidebar-menu.menu__list>li:nth-child(12)>div>a::before {
  background-image: url(../../static/img/Reference-Inactive.svg);
}

/* siderbar-icons */

/* siderbar-icons-hover and active */
.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(1)>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(1)>a.menu__link--active::before  {
  background-image: url(../../static/img/Introduction-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(2)>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(2)>a.menu__link--active::before {
  background-image: url(../../static/img/Installation-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(3)>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(3)>a.menu__link--active::before {
  background-image: url(../../static/img/GettingStarted-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(4)>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(4)>a.menu__link--active::before {
  background-image: url(../../static/img/Howdltworks-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(5)>div>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(5)>div>[aria-expanded="true"]::before {
  background-image: url(../../static/img/Pipelines-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(6)>div>a::before ,  .theme-doc-sidebar-menu.menu__list>li:nth-child(6)>div>[aria-expanded="true"]::before{
  background-image: url(../../static/img/Destinations-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(7)>div>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(7)>div>[aria-expanded="true"]::before {
  background-image: url(../../static/img/Walkthrough-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(8)>div>a::before ,  .theme-doc-sidebar-menu.menu__list>li:nth-child(8)>div>[aria-expanded="true"]::before{
  background-image: url(../../static/img/GeneralUsage-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(9)>div>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(9)>div>[aria-expanded="true"]::before {
  background-image: url(../../static/img/Customization-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(10)>div>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(10)>div>[aria-expanded="true"]::before {
  background-image: url(../../static/img/RunningInProduction-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(11)>div>a::before , .theme-doc-sidebar-menu.menu__list>li:nth-child(11)>div>[aria-expanded="true"]::before {
  background-image: url(../../static/img/UsingLoadedData-Active.svg);
}

.theme-doc-sidebar-menu.menu__list>li:hover:nth-child(12)>div>a::before ,  .theme-doc-sidebar-menu.menu__list>li:nth-child(12)>div>[aria-expanded="true"]::before {
  background-image: url(../../static/img/Reference-Active.svg);
}

/* siderbar-icons-hover */

.theme-doc-sidebar-menu.menu__list>li:nth-child(1)>a.menu__link--active::before {
  background-image: url(../../static/img/Introduction-Active.svg);
}

.tocCollapsible_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-styles-module {
  background: var(--ifm-gradient);
}

/* responsive css :start */

@media(min-width:0px) and (max-width:767px){
  .colab-demo {
    font-size: 0;
    padding: 4px 5px 4px 14px;
    margin-right: 10px;
    margin-left: 0;
  }
  .slack-navbar:before {
    left: -10px;
  }
  .github-navbar:before {
    left: -30px;
  }
  .navbar-sidebar__item.menu{
    background:var(--ifm-gradient) ;
  }
  .menu__link.colab-demo{
    display: table;
  }
  .menu__link.slack-navbar:before , .menu__link.github-navbar:before{
    left: 0px;
  }
}

/* responsive css :end */