
name: lint | code & tests

on:
  workflow_call:
  workflow_dispatch:

jobs:

  run_lint:
    name: lint
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}

    steps:

      - name: Check out
        uses: actions/checkout@master

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          enable-cache: true

      - name: Check lockfile
        run: uv lock --check

      - name: Install dependencies
        run: uv sync --all-extras --group airflow --group providers --group pipeline --group sources --group sentry-sdk --group dbt --group streamlit

      - name: Run make lint
        run: |
          export PATH=$PATH:"/c/Program Files/usr/bin" # needed for Windows
          make lint

      - name: Check that cli docs are up to date
        run: make check-cli-docs
        if: ${{ matrix.python-version == '3.11' }}

      - name: Check filesizes
        uses: ppremk/lfs-warning@v3.2
        with:
          filesizelimit: 50000
          exclusionPatterns: |
            **/*.py
            **/*.lock
            **/*.md
            **/*.ipynb
            **/package-lock.json


  matrix_job_required_check:
    name: lint | code & tests
    needs: run_lint
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check matrix job results
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: |
          echo "One or more matrix job tests failed or were cancelled. You may need to re-run them." && exit 1
