
name: docs | snippets

on:
  workflow_call:
  workflow_dispatch:

env:

  RUNTIME__LOG_LEVEL: ERROR

  # detect if the workflow is executed in a repo fork
  IS_FORK: ${{ github.event.pull_request.head.repo.fork }}

jobs:

  run_lint:
    name: docs | snippets
    runs-on: ubuntu-latest

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_DB: dlt_data
          POSTGRES_USER: loader
          POSTGRES_PASSWORD: loader
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

      - name: Check out
        uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      # - name: Start weaviate
      #   run:  docker compose -f "tests/load/weaviate/docker-compose.yml" up -d

      - name: Setup node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"
          activate-environment: true
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra duckdb --extra parquet --extra postgres --extra s3 --extra workspace --group docs --group sentry-sdk --group ibis --group providers

      - name: Install dlthub incl alpha releases
        run: uv run pip install --pre dlthub

      - name: run docs preprocessor
        run: make preprocess-docs

      - name: Create secrets.toml for snippets
        run: |
          cp tests/.dlt/dev.secrets.toml docs/website/docs/.dlt/secrets.toml

      - name: Run linter and tests on snippets
        run: make lint-and-test-snippets

      - name: Test notebooks
        run: cd docs/notebooks && make test

      - name: Lint education notebooks
        run: make lint-notebooks
