name: test build docker images

on:
  pull_request:
    branches:
      - master
      - devel
  workflow_dispatch:

jobs:
  get_docs_changes:
    uses: ./.github/workflows/get_docs_changes.yml

  run_airflow:
    name: Build alpine and airflow images
    needs: get_docs_changes
    if: needs.get_docs_changes.outputs.changes_outside_docs == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@master

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.x"

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.2
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Build images
        run: make test-build-images