
name: tools | dbt runner

on:
  workflow_call:
  workflow_dispatch:

env:

  DLT_SECRETS_TOML: ${{ secrets.DLT_SECRETS_TOML }}
  RUNTIME__LOG_LEVEL: ERROR

jobs:
  run_dbt:
    name: tools | dbt runner tests
    defaults:
      run:
        shell: bash
    runs-on: "ubuntu-latest"

    steps:

      - name: Check out
        uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"
          activate-environment: true
          enable-cache: true

      - name: Install dependencies
        # install dlt with postgres support
        run: uv sync --extra postgres --extra postgis --group dbt --group providers

      - name: create secrets.toml
        run: pwd && echo "$DLT_SECRETS_TOML" > tests/.dlt/secrets.toml

      - name: Run dbt tests
        run: make test-dbt-no-venv
        env:
          # github runners only have 4 cores and many operations are I/O blocking so more cores than physical helps
          PYTEST_ARGS: "-n 12"
          PARALLEL: 1

      - name: Remove dbt-core
        run: uv run pip uninstall dbt-core -y

      - name: Run dbt runner with venv - Linux/MAC
        run: make test-dbt-runner-venv
        env:
          # github runners only have 4 cores and many operations are I/O blocking so more cores than physical helps
          PYTEST_ARGS: "-n 12"
          PARALLEL: 1