# Tests sources against a couple of local destinations

name: src | rest_api, sql_database, filesystem

on:
  workflow_call:
  workflow_dispatch:

env:

  # RUNTIME__SENTRY_DSN: https://6f6f7b6f8e0f458a89be4187603b55fe@o1061158.ingest.sentry.io/4504819859914752
  RUNTIME__LOG_LEVEL: ERROR

  ACTIVE_DESTINATIONS: "[\"duckdb\", \"postgres\", \"filesystem\"]"
  ALL_FILESYSTEM_DRIVERS: "[\"file\"]"

jobs:
  run_loader:
    name: src | rest_api, sql_database, filesystem
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: postgres etc.
            dbms_extras: "--extra postgres --extra postgis"
            needs_postgres: true
            pytest_mark: "not mssql and not oracle"
            allows_sqlalchemy_1_4: true
          - name: mssql
            dbms_extras: "--extra mssql"
            needs_mssql: true
            pytest_mark: "mssql"
            allows_sqlalchemy_1_4: true
          - name: oracle
            dbms_extras: "--extra oracle"
            needs_oracle: true
            pytest_mark: "oracle"
            allows_sqlalchemy_1_4: false
    defaults:
      run:
        shell: bash
    runs-on: "ubuntu-latest"

    steps:
      - name: Check out
        uses: actions/checkout@master

      - name: Start postgres
        run: docker compose -f "tests/load/sources/sql_database/docker-compose.yml" up -d --wait postgres
        if: ${{ matrix.needs_postgres }}

      - name: Start mssql
        run: docker compose -f "tests/load/sources/sql_database/docker-compose.yml" up -d --wait mssql
        if: ${{ matrix.needs_mssql }}

      - name: Start oracle
        run: docker compose -f "tests/load/sources/sql_database/docker-compose.yml" up -d --wait oracle
        if: ${{ matrix.needs_oracle }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"
          activate-environment: true
          enable-cache: true

      - name: Install dependencies
        run: |
          sudo ACCEPT_EULA=Y apt-get install --yes msodbcsql18
          uv sync --group pipeline --group sources --extra duckdb --extra parquet --extra filesystem --extra cli --extra sql_database --group adbc ${{ matrix.dbms_extras }}

      - name: Copy secrets for local tests
        run: |
          cp tests/.dlt/dev.secrets.toml tests/.dlt/secrets.toml

      # run sources tests in load against configured destinations
      - run: pytest tests/load/sources -m "${{ matrix.pytest_mark }}"
        name: Run tests Linux
        if: ${{ matrix.allows_sqlalchemy_1_4 }}

      # here we upgrade sql alchemy to 2 an run the sql_database tests again
      - name: Upgrade sql alchemy
        run: uv run pip install sqlalchemy==2.0.32

      - run: pytest tests/load/sources/sql_database -m "${{ matrix.pytest_mark }}"
        name: Run tests Linux

      - name: Stop databases
        run: docker compose -f "tests/load/sources/sql_database/docker-compose.yml" down -v
        if: ${{ always() }}
